<%- include('./partials/nav') %>
<ul>
    <% reservations.forEach(function(item){%>
<div class="bookings">
    <h1>HI <%=item.name.toUpperCase()%>!</h1>
    <h2>Congratulations!</h2>
    <p>Your booking is confirmed.</p>
    <p>Please look at your email <%=item.email%></p>
    <p>Phone: <%=item.phone%> </p>
    <p>Package: <%=item.reservationPackage%></p>
    <p>Your reservation date is: </p>
    <strong><%=item.reservationDate%></strong>
</div>
    <%}) %>
</ul>
</body>
</html>